<div class=" block-login-form">
    <h2>Add Notice</h2>
    <form action="/addNotice" method="POST" id="addnoticeform">

        <div class=" block-group">
            <label>Title:</label>
            <div class="block">
                <i class="fa fa-header"></i>
                <input type="text" placeholder="Title" name="title" required="required" />
            </div>
        </div>

        <div class=" block-group">
            <label>Description:</label>
            <div class="block">
                <i class="fa fa-file-text-o"></i>
                <textarea name="desc" rows="4" cols="56.5" placeholder="Description..."></textarea><br />
            </div>
        </div>

        <button type="submit">Add</button>

    </form>

</div>