<div class=" block-login-form">
    <h2>Create Admin</h2>
    <form action="/admin/create/" id="adminCreateForm" role="form" method="POST" encType="multipart/form-data">

        <div class=" block-group">
            <label>First Name:</label>
            <div class="block">
                <i class="fa fa-header"></i>
                <input type="text" placeholder="First Name" name="first_name" required="required" />
            </div>
        </div>

        <div class=" block-group">
            <label>Last Name:</label>
            <div class="block">
                <i class="fa fa-header"></i>
                <input type="text" placeholder="Last Name" name="last_name" required="required" />
            </div>
        </div>

        <div class=" block-group">
            <label>Email:</label>
            <div class="block">
                <i class="fa fa-header"></i>
                <input type="text" placeholder="Email" name="email" required="required" />
            </div>
        </div>

        <div class=" block-group">
            <label>Phone:</label>
            <div class="block">
                <i class="fa fa-header"></i>
                <input type="text" placeholder="Phone" name="phone" required="required" />
            </div>
        </div>

        <div class=" block-group">
            <label>Password:</label>
            <div class="block">
                <i class="fa fa-header"></i>
                <input type="password" placeholder="password" name="password" required="required" />
            </div>
        </div>


        <button id="createAdmin" type="submit">Create Admin</button>

    </form>

</div>