<br />
<div class="index-page">
	<p>Welcome to the CRC Department</p>
	<div class=" row">
		<div class="col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4">
			<a href="/login"><button class="btn btn-danger  btn-lg">Login</button></a>
		</div>
	</div>
</div>