<section >
    <div class="container-fluid">
        <div class="row  justify-content-center align-items-center" style="height: 100vh; background-color:#324768;">
            <div class="col-sm-7 text-center heading-banner">
                <h1 class="display-2 text-capitalize"><span class="text-warning">welcome to</span>
                    <span class="text-danger font-weight-bold" id="crc-name">CRC Department</span></h1>
                <h2 class="font-weight-light font-italic text-light">“Ever tried. Ever failed. No matter. Try Again. Fail again. Fail better.”</h2>

                <a class="btn btn-outline-danger text-light m-3" href="#">Login Here</a>
            </div>
        </div>
    </div>
</section>
<!--End Banner -->
</header>


<!--About -->
<section class="p-5 bg-light" id="about">

    <div class="container-fluid">
        <!--title-->
        <div class="row">
            <div class="col mb-3 text-center">
                <h1 class="display-2 text-warning"><span class="value1">O</span>ur <span class="value1">C</span>RC <span class="value1">D</span>epartment</h1>

            </div>
        </div>
        <!--end title -->

        <div class="row">
            <div class="col-lg-4 col-sm-6 text-center about-pic1" >
                <img alt="" src="images/img1.png" class="img-thumbnail">
                <h2 class="my-3 text-warning">Assisting Students Throughout their placements</h2>
                <p class="text-muted text-justify">A portal catering all your placement needs Build resume on structured templates with our guidance Apply for exciting job opportunities On and Off Campus Prepare for tests and interviews and get placed!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mt-3 about-pic2" >
                <img alt="" src="images/img2.png" class="img-thumbnail">
                <h2 class="text-warning my-3">Helping Colleges Increase Placement Percentages</h2>
                <p class="text-muted text-justify">We make your placement process efficient Digitize the entire On-campus placement procedure Get your students prepared and assessed by us We help your students get the best job opportunities.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mt-4 about-pic3" >
                <img src="images/img3.png" class="img-thumbnail" alt="">
                <h2 class="text-warning my-3">Aiding Companies Make Campus Recruitment Efficient</h2>
                <p class="text-muted text-justify">Get student applications from colleges you won't be able to visit Filter them by resume, video resume, academic details and test scores Conduct assessments and video interviews from our platform Save time and logistics costs involved in visiting campuses.</p>
            </div>


        </div>

    </div>

</section>
<!-- End About -->

<!-- Team -->
<section class="p-sm-5 p-2 bg-secondary" id="team">
    <div class="container-fluid">
        <!-- title -->
        <div class="row ">
            <div class="col text-center mb-3">
                <h1 class="text-warning display-2" id="team_name">Developer Team</h1>
            </div>
        </div>
        <!--end title -->

        <div class="row">
            <div class="col-lg-3 col-sm-10 mx-auto mb-4">
                <div class="card" style="height: 600px;">
                    <img src="images/tuhin_roy.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-muted">Tuhin Roy</h3>
                        </div>
                        <div class="card-subtitle">
                            <p class="lead text-secondary">Invertis University Bareilly</p>
                            <p class="lead text-danger">Team Leader and Backend Developer</p>

                        </div>
                        <div class="text-right ">
                            <a href="#"><i class="fa fa-facebook-square fa-2x mx-2 text-primary"></i></a>
                            <a href="https://github.com/Troy96"><i class="fa fa-github-square fa-2x mx-2 text-primary"></i></a>
                            <a href="https://www.linkedin.com/in/tuhin-roy/"><i class="fa fa-linkedin-square fa-2x mx-2 text-primary"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-10 mx-auto mb-4">
                <div class="card " style="height: 600px;">
                    <img src="images/sweet_kumar.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-muted">Sweet Kumar</h3>
                        </div>
                        <div class="card-subtitle">
                            <p class="lead text-secondary">Invertis University Bareilly</p>
                            <p class="lead text-danger">Frontend Developer</p>

                        </div>
                        <div class="text-right my-5">
                            <a href="https://www.facebook.com/profile.php?id=100009155397064"><i class="fa fa-facebook-square fa-2x mx-2 text-primary"></i></a>
                            <a href="https://github.com/sweetkumar"><i class="fa fa-github-square fa-2x mx-2 text-primary"></i></a>
                            <a href="https://www.linkedin.com/in/sweet-kumar-543b79179"><i class="fa fa-linkedin-square fa-2x mx-2 text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-10 mx-auto mb-4">
                <div class="card" style="height: 600px;">
                    <img src="images/sarthak_agrwal.jpg" class="card-img" alt="">

                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-muted">Sarthak Agarwal</h3>
                        </div>
                        <div class="card-subtitle">
                            <p class="lead text-secondary">Invertis University Bareilly</p>
                            <p class="lead text-danger">Database Developer</p>

                        </div>
                        <div class="text-right my-5">
                            <a href="https://www.facebook.com/profile.php?id=100011310847364"><i class="fa fa-facebook-square fa-2x mx-2 text-primary"></i></a>
                            <a href="https://github.com/17-sarthakagarwal/"><i class="fa fa-github-square fa-2x mx-2 text-primary"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square fa-2x mx-2 text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-10 mx-auto mb-4">
                <div class="card" style="height: 600px;">
                    <img src="images/priyanka_rawat.jpg" class="card-img" alt="">

                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-muted">Priyanka Rawat</h3>
                        </div>
                        <div class="card-subtitle">
                            <p class="lead text-secondary">Invertis University Bareilly</p>
                            <p class="lead text-danger">Web Hosting Developer</p>

                        </div>
                        <div class="text-right my-5">
                            <a href="#"><i class="fa fa-facebook-square fa-2x mx-2 text-primary"></i></a>
                            <a href="#"><i class="fa fa-github-square fa-2x mx-2 text-primary"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square fa-2x mx-2 text-primary"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end Team -->