<br />
<div class="row">
        <div class="col-lg-4">
            <button id="tenthInterval" class="btn btn-info">Show Class 10th Interval</button>
        </div>
        <div class="col-lg-4">
            <button id="twelvthInterval" class="btn btn-danger">Show Class 12th Interval</button>

        </div>
        <div class="col-lg-4">
            <button id="btechInterval" class="btn btn-success">Show B.Tech Interval</button>

        </div>
    </div>
<div id="chart-div">
    <canvas id="myChart" width="700" height="250"></canvas>
</div>