th {
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
	width:100%; 
	border-spacing: 5px;
}

body {
	background-image: url('./../images/bg.jpg') !important; 
}
a{
	color: #fff;
}
.cover-dashboard{
    width: 100%;
    background-color: grey;
}
.nobr{
    white-space: nowrap;
}
.index-page{
	color: #fff;
	font-family: 'Concert One', cursive;
	font-size: 5em;
	font-weight: 1em;
	text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding:10px;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
}



.welcome-message{
    
   font-weight: 2em;
    color: #fff;
    font-family: 'Concert One', cursive;
  

}
#invertis-logo {
    width:65%;
}
body {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    background:#354545;
}
.filter-well{
    width: 50%;
}
.main_sidebar {
    min-height:100vh;
    position:fixed;
    top:0;
    left:0;
    width:200px;
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
    will-change: left, width;
    box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
    background: #293749;
}
.main_sidebar:after {
    content: '';
    background-color: #253238;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 58px;
}
.main_sidebar ul {
    list-style:none;
    padding-left:58px;
}
.main_sidebar ul li {
    padding:10px;
}
.main_sidebar ul li a {
    color:#fff;
    display:block;
}
.main_sidebar ul li i {
    float:left;
    color:grey;
    margin-left:-58px;
    font-size:24px;
    padding-left:7px;
}
.main_sidebar ul li:hover {
    background:#167696;
}
.main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
}
.main_sidebar ul li:hover i {
    color:#fff;
}
.main_sidebar ul li.active {
    background:#0f4698;
}
.main_sidebar ul li.active i {
    color:#fff;
}
.main_sidebar ul li.active:hover {
    background:#167696;
}
.main_sidebar ul li.active:hover i {
    color:#fff;
}

.main {
    float:right;
    color:#fff;
    display:block;
    width:100%;
    background:red;
    min-height:100vh;
}
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}




